.contactFormCard {
	margin: 0 auto;
	padding: 1rem;
	width: 100%;
	max-width: 500px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background: white;
}

.contactForm {
	background-color: #EDF9FE;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.Input {
	width: 80%;
	margin-bottom: 1rem;
	padding: 0.5rem;
	border: 1px solid rgb(128, 0, 128);
	border-radius: 4px;
}

.invalidInput {
	border-color: red;
}

.textArea {
	height: 150px;
	width: 325px;
	resize: none;
}

.sendBtn {
	border: 1px solid rgb(128, 0, 128);
	border-radius: 4px;
	margin-top: 1rem;
	text-align: center;
}

 .h1Message {
	background-color: #EDF9FE;
	
} 